body {
    background: #E0E0E0
}

.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #212121
}

.cart {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121
}

.card {
    width: fit-content
}

.card-body {
    width: fit-content
}

.btn {
    border-radius: 0
}

.img-thumbnail {
    border: none
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background: #eee
}

.size span {
    font-size: 11px
}

.color span {
    font-size: 11px
}

.product-deta {
    margin-right: 70px
}

.gift-card:focus {
    box-shadow: none
}

.pay-button {
    color: #fff
}

.pay-button:hover {
    color: #fff
}

.pay-button:focus {
    color: #fff;
    box-shadow: none
}

.text-grey {
    color: #a39f9f
}

.qty i {
    font-size: 11px
}

.img-cart {
    max-height: 104px;
    width: auto;
}








@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background: #eee
}

.size span {
    font-size: 11px
}

.color span {
    font-size: 11px
}

.product-deta {
    margin-right: 70px
}

.gift-card:focus {
    box-shadow: none
}

.pay-button {
    color: #fff
}

.pay-button:hover {
    color: #fff
}

.pay-button:focus {
    color: #fff;
    box-shadow: none
}

.text-grey {
    color: #a39f9f
}

.qty i {
    font-size: 11px
}